body{
    padding: 0;
    margin: 0;
  background-color: #efe7d3;
}


.nav-bar{
    display: flex;
    align-items: center;
    background-color: #3e1f1a;
}
.brand-logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 5px 10px;
}
.brand-name{
    font-size: 25px;
    margin: 10px;
    margin-right: 350px;
    color: white;
}
.nav-items{
    margin-left: 10px;
    margin-right: 100px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 50px;
}
.payment-container {
  background-color: #fed8b9;
  padding: 30px 40px;
  border-radius: 5px;
  box-shadow: 0 5px 25px #382005;
  width: 450px;
  text-align: center;
}
.payment-container h1 {
  margin-bottom: 20px;
  color: #3f2c17;
  text-align: center;
}
